@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
.main-register-page {
    width: 100%;
    height: 100vh;
}

.main-register-page .register-form {
    height: 100vh;
    width: 50%;
}

.main-register-page .register-form .form-layout {
    height: 80%;
    width: 80%;
    background-color: white;
    position: relative;
    left: 70px;
    top: 70px;
}

.main-register-page .register-form .form-layout .fill-form {
    position: relative;
    top: 100px;
}
.main-register-page .register-form .form-layout .fill-form .main-form{
   padding: 1.5rem;
}

.main-register-page .register-form .form-layout .fill-form .main-form {
    display: flex;
    flex-direction: column;
}

.main-register-page .register-form .form-layout .headline {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
    font-family: 'Inter',sans-serif;
}
.main-register-page .register-form .form-layout .tagline {
    display: flex;
    justify-content: center;
    position: relative;
    top: 60px;
    color: #667085;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Outfit';
}
.main-register-page .register-form .form-layout .signup-buttons{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    position: relative;
    top: 70px;
    font-family: 'Inter',sans-serif;
    gap:8px;


}
.main-register-page .register-form .form-layout .line-design{
    width: 200px;
    height: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 90px;
}

.main-register-page .register-right-image {
    position: absolute;
    height: 100vh;
    width: 50%;
    top: 0;
    right: 0;
}

.main-register-page .register-right-image img {
    height: 100vh;
    width: 100%;
}
.main-register-page .register-form .form-layout .fill-form .main-form input{
        align-items: center;
        background-color: #f1ecec;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: .25rem;
        box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
        box-sizing: border-box;
        color: rgba(0, 0, 0, 0.85);
        cursor: pointer;
        display: inline-flex;
        font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
        line-height: 1.25;
        margin: 12px;
        min-height: 3rem;
        padding: calc(.875rem - 1px) calc(1.5rem - 1px);
        position: relative;
        text-decoration: none;
        transition: all 250ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: baseline;
        width: auto;
        
       
      
}
.main-register-page .register-form .form-layout .fill-form .main-form button{
  appearance: button;
  backface-visibility: hidden;
  background-color: rgb(4, 171, 4);
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 ;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  
}

.main-register-page .register-form .form-layout .fill-form .main-form button:disabled {
  cursor: default;
}

.main-register-page .register-form .form-layout .fill-form .main-form button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}
.main-register-page .register-form .form-layout .register{
    position: relative;
    top: 210px;
    text-align: center;
    
}
