
.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/HomePage.png');
    background-size: cover;
    background-position: center;
  }
  
  .dashboard-content {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  
  .user-details {
    margin-bottom: 20px;
  }
  
  .dashboard-actions {
    /* Add styles for user actions/buttons */
  }
  